
{% block title %}<title>Registro</title>{% endblock %}
{% block stylesheets %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="registration_form" style="padding:250px 500px 250px 500px">
        <h1>Registro</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <button type="submit" class="btn">¡Regístrame!</button>
        <br>
        <p><a class="login-link" href="{{ path('app_login') }}">Inicia sesión</a> si ya tienes una cuenta</p>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
