<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡Os invitamos a perderos en Madrid!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- Materialize icons -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
            <!--Licorice google font-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Licorice&family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
        {% endblock %}


    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path('home') }}" class="avatar"><img src="{{ asset('/images/Logo1guay.png') }}" alt=""></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="nav_element" href="{{ path('home') }}">Inicio</a></li>
                    <li><a class="nav_element" href="{{ path('wedding_lodging') }}">Alojamiento</a></li>
                    <li><a class="nav_element" href="{{ path('wedding_schedule') }}">Horarios</a></li>
                    <li><a class="nav_element" href="{{ path('wedding_pictures') }}">Fotos de nuestra boda</a></li>
                    {% if app.user.isAdmin() %}
                        <li><a class="nav_element" href="{{ path('wedding_attendants') }}">Listado Usuarios</a></li>
                    {% endif %}
                    <li><a class="nav_element" href="{{ path('contact_page') }}">Contacto</a></li>
                </ul>
            </div>
        </nav>
            {% for message in app.flashes('success') %}
                <div class="flash-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash-error">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('alert') %}
                <div class="flash-alert">
                    {{ message }}
                </div>
            {% endfor %}

        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
